<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Edudot-Text Summarizer</title>



  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
rel="stylesheet">


  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css"
rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css"
rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css"
rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">



  <link href="/static/assets/css/style.css" rel="stylesheet">
 <style>
   label
   {
     color:white;
   }
    .nav-menu a 
    {
      font-size:11px;
    }
 </style>



</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center" style="margin-right: 97px;">
          <img src="/static/assets/img/logo.png" style="width:65px">
          <h1 class="logo mr-auto"><a href="/display_edudot">EDUDOT</a></h1>
          

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li ><a href="/display_edudot">Home</a></li>
              <li><a href="/display_edudot">About</a></li>
              <li><a href="/display_edudot">Resources</a></li>
              <li><a href="/text_summ">Summarizer</a></li>
              <li class="active"><a href="/make_notes">Make Notes</a></li>
              <li><a href="/view_saved_notes">Show Notes</a></li>
              <li><a href="/display_edudot">AR Models</a></li>
              <li ><a href="/bored">Feeling Bored??</a></li>
             
              
              <li><a href="#footer">Contact</a></li>

            </ul>
          </nav>
          <a href="/logout" class="get-started-btn scrollto">Logout</a>


          
        </div>
      </div>

    </div>
  </header>

  <section section id="hero" class="d-flex align-items-center">
    <div class="container-fluid" data-aos="fade-up" >
        <div class="row">
            <div class="col-8" style="margin-left:200px">
                <a href="/view_saved_notes">
                <button type="button" class="btn btn-block
btn-danger">Show All Notes</button>
            </a>
        </div>

        </div>
       <hr>



       <div class="row">

         <div class="col-8" style="margin-left:200px">
            <form action="/save_notes" method="POST">

                {{message}}

              <div class="form-group">
                <label for="url">Enter Title</label>
                <input type="text" class="form-control" name="title">

              </div>
              <div class="form-group">
                <label for="url">Enter Your Notes</label>
                <textarea class="form-control" aria-label="With
textarea" rows="10" name="note"></textarea>

              </div>
              <div class="form-group">

                <input type="submit" class="btn btn-sm btn-success"
value="Save Notes" name="note">

            </div>

            </form>
         </div>
        </div>




        </div>
      </div>


  </section>
  <div id="summ">

  </div>


  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>EDUDOT</h3>
            <p>
                      
              India <br><br>
             
              <strong>Email:</strong>edudot2k20@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="margin-left:90px">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a
href="#home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a
href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a
href="#res">Resources</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#ar">AR
Models</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="margin-left:190px">
            <h4>Our Team</h4>
            <p>"BUGSLAYERS"</p>
            <ul>
              <li><i class="bx bx-chevron-right"></i>Charanpreet Singh
Bhatia</li>
              <li><i class="bx bx-chevron-right"></i>Gurleen Kaur Bhatia</li>

            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong><span>Edudot</span></strong>. All
Rights Reserved
          </div>

        </div>

      </div>

    </div>
  </footer>


  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>